<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyecto.usuario.proyecto">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ALZHEIMER POR MADRID"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.proyecto.usuario.proyecto.Localizaciones"></activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name="com.proyecto.usuario.proyecto.Intermedia"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Calendario"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Historial"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Permisos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.IllData"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.UserData"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.DatosQuien"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.MenuUser"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Datos_Enfermo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.UnirseEnfermo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.CreacionEnfermo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.OpcionUser"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Localizacion"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Sms"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.LLamar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Principal"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.EscanerQr"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Condiciones"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.proyecto.usuario.proyecto.Splah"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>