<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.usuario.proyecto">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ALZHEIMER POR MADRID"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MenuUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Datos_Enfermo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnirseEnfermo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreacionEnfermo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpcionUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Localizacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LLamar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EscanerQr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Condiciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splah"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>